* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

#viewport-mask {
  visibility: hidden;
  min-height: 99vh;
  min-width: 100vw;
  background: #00000060;
  position: absolute;
  top: 0;
  right: 100vw;
  transition: right 0.7s ease;
  transform: translate(100%, 0);
}

code {
  font-family: monospace;
}

table,
th,
td {
  border-collapse: collapse;
}

#__primerPortalRoot__ > div {
  z-index: 50 !important;
}
